.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared css */
.linear-gradient {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.btn {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 40px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

.btn-green {
    background-color: transparent;
    border: 2px solid #00FF88;
    border-radius: 40px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.3s ease;
}

.btn:hover,
.btn-green:hover {
    transform: translateY(-3px);
}


/* main css */
header {
    background-color: #412567;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h2 {
    font-size: 48px;
    font-weight: 800;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: #FFFFFF;
}

.mobile-extra {
    display: none;
}

/* hero */
.hero {
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    overflow: hidden;
}

.hero-content {
    /* border: 2px solid red; */
    max-width: 34.4rem;
    margin: 101px auto;
}

.hero-circle {
    width: 21.8rem;
    margin: 0 auto;
    position: relative;
    transform: scale(1);

}

.hero-circle img:first-of-type {
    width: 100%;
}

.hero-circle img:last-of-type {
    width: 7.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}



.badge {
    position: absolute;

    margin-left: 252px;
    margin-top: 16px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
    transform: translateX(20%);
}

.text h2 {
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 2px;

}

.text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}


/* responsive */
@media screen and (max-width:576px) {

    .menu,
    .buttons {
        display: none;
    }

    nav {
        justify-content: space-between;
        padding: 18px 20px;
    }

    .mobile-extra {
        display: block;
    }

    .mobile-extra img {
        cursor: pointer;
    }

    /* hero  */

    .hero {
        background-position: center;
        background-size: cover;
    }

    .hero-content {
        max-width: 100%;
        margin: 0;
    }

    .hero-circle {
        width: 200px;
    }

    .hero-circle img:last-of-type {
        width: 80px;
    }

    .badge {
        margin: 0;
        top: 14px;
        right: 10px;
        font-size: 13px;
        padding: 6px 14px;
    }
}